<app-header></app-header>
<div class="container" > 
     
  <p class="text-center fs-1 main">
      Master your Basics. 
  </p>
  <p class="text-center fs-1 main2">
     with TakeQuiz
  </p>
  <p class="text-center fs-5">
      Evaluate yourself by taking foundation level quiz. 
  </p>
  <p class="text-center fs-6">
     Each quiz has 10 multiple choice questions. You will have 10 mins to complete the quiz.
  </p>
 
<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Java Quiz</h5>
          <p class="card-text">This quiz section covers core java topic.</p>
          <a routerLink="/javaQuiz" class="btn btn-primary">Take Quiz</a>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">HTML Quiz</h5>
          <p class="card-text">This quiz section covers HTML topic.</p>
          <a routerLink="/htmlQuiz" class="btn btn-primary">Take Quiz</a>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">CSS Quiz</h5>
          <p class="card-text">This quiz section covers CSS topic.</p>
          <a routerLink="cssQuiz" class="btn btn-primary">Take Quiz</a>
        </div>
      </div>
    </div>
    
    </div>

  </div>